
.navbar-wrapper {
  /* width: 80vw; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.links-wrapper {
    text-decoration: none;
    padding: 10px;
    font-family: "Open Sans";
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    font-size: 19px;
    font-weight:900;
    color: white;
    background-color: transparent;
    outline: none;
    border: 0px;
    cursor: pointer;
    
  }
  

  
  .navbar .navbar-brand {
    margin-right: 7rem; 
    font-size: x-large;
}
    @media (max-width: 1200px) {
      .navbar .navbar-brand {
        margin-right: 3rem; } }
  .navbar a.nav-link {
    color: white;
    font-size: 1.2rem;
    letter-spacing: -0.01rem;
    font-weight: 500; }
    .navbar a.nav-link:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      margin-top: 7px;
      background: #050505;
      transition: width .3s;
     }
    .navbar a.nav-link:hover::after, .navbar a.nav-link.active::after {
      width: 100%;
      opacity: 1; }
